<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Happy Birthday</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}" async></script>
</head>

<body>
    <div class="countdown">
        <h1></h1>
        <div class="time">
            <h2 class="dayTime">00</h2>
            <h2 class="dayLabel">Day</h2>
        </div>
        <div class="time">
            <h2 class="hourTime">00</h2>
            <h2 class="hourLabel">Hours</h2>
        </div>
        <div class="time">
            <h2 class="minTime">00</h2>
            <h2 class="minLabel">Minutes</h2>
        </div>
        <div class="time">
            <h2 class="secTime">00</h2>
            <h2 class="secLabel">Seconds</h2>
        </div>
    </div>

</body>

</html>
