<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
    <div class="ask-info">
        <h2>Hello there beautiful human!</h2>
        <br>
        <form action="" method="GET">
            <label for="name">name</label>
            <input type="text" id="name">
            <br>
            <label for="bday">bday</label>
            <input type="date" id="bday">
        </form>
    </div>
</body>

</html>
